
<app-share-details>
  <div logo>Logo</div>

  <div detail>
    <h3>{{item.name}}</h3>
    <div class="text-right">
    <p>Current Price: {{item.price}}</p>
    <p>Condition: {{item.condition}}</p>
      <p>Delivery Cost: {{item.delivery_cost}}</p>
      <p>Category: {{item.category}}</p>
      <p>Color: {{item.color}}</p>
    </div>

  </div>
  <div buttons>
    <button type="submit" (click)="ShowPrevItem(item);">Previous Item</button>
    <button (click)="ShowNextItem(item); ">Next Item</button>
  </div>
<p footer>{{footerString}}</p>
</app-share-details>
