




.lessmargins {
  padding: 2px;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}


.condition {
  border: limegreen solid 3px;
}
.usecondition {
  border: sandybrown solid 3px;
}
.leftnavigation {
  height: 100vh;
  background-color: #6fa5d2;
  border-radius: 15px 0 0 0;
}
.btnmargin{
  margin: 10px 12px;
}
.error_p {
  color: white;
  background-color: red;
  font-size: 10px;
}
.error_l {
  border: solid 3px red;
}
