<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['']">Pawel's Shop</a>

  <div class="collapse navbar-collapse offset-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLink]="['/shop']" [routerLinkActive]="'active'"><a class="nav-link">Home</a>
      </li>
      <!-- [routerLinkActive] add class "someclass" when current site is active-->
      <li [routerLink]="['/about']" [routerLinkActive]="'active'">
        <a class="nav-link">About Shop</a>
      </li>
      <li [routerLink]="['/contact']" [routerLinkActive]="'active'">
        <a class="nav-link">Contact</a>
      </li>
    </ul>

  </div>
</nav>
