<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 myspace"><div class="logo">
      <a href="https://github.com/skrzeku" class="myfont">
        <img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/128/Github-icon.png" class="embed-responsive-item" placement="top" ngbTooltip="Tooltip on top">
        Github
      </a>

    </div></div>

    <div class="col-sm-6 myspace"><div class="logo">
      <a href="#" class="myfont"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/128/Linkedin-icon.png" class="embed-responsive-item">
        LinkedIn
      </a>

    </div></div>

    <div class="col-sm-6 myspace"><div class="logo">
      <a href="https://www.facebook.com/pawelskrzeszewski92" class="myfont">
        <img src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-box-blue-icon.png" class="embed-responsive-item">
        Facebook
      </a>

    </div></div>

    <div class="col-sm-6 myspace"><div class="logo">
      <a href="mailto:pawelskrzeszewski92@gmail.com" class="myfont">
        <img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/128/Gmail-icon.png" class="embed-responsive-item">
        Gmail
      </a>


    </div></div>
    <div class="col-sm-12"><div class="logo">My Description</div> </div>



  </div>
</div>
