<div class="container-fluid">
  <div class="row">
    <div class=" offset-2 col-sm-10 mymargin">
      <div class="col-sm-12">
      <div class="logo1">About Shop Project</div>
    </div></div>
    <div class="col-sm-12">
    <div class="col-sm-8 myspace"><div class="logo">
      <h1>Main Navigation</h1>

    </div></div>

    <div class="offset-4 col-sm-8 myspace"><div class="logo">
      <h1>Main Layout</h1>

    </div></div>

    <div class="col-sm-8 myspace"><div class="logo">
      <h1>Layout Specification</h1>
      <h3>Product.component</h3>
      <h3>navigation.component</h3>
      <h3>details.component</h3>

    </div></div>

    <div class="offset-4 col-sm-8 myspace"><div class="logo">
      <h3>Services, Routing, Login</h3>


    </div></div>
    <div class="col-sm-8 myspace"><div class="logo">
      <h3>Rest Api</h3>


    </div></div>
    <div class="col-sm-12 myspace"><div class="logo text-center font-weight-bold">Would you like to left me any messages, do you have any question? Social media links can help you</div> </div>

    </div>

  </div>
</div>
