

.smalldivs {
  background-color: #80DFFF;
}

.lessmargins {
  padding: 2px;
  margin: 5px;
  text-align: center;
}
.condition {
  border: limegreen solid 3px;
}
.usecondition {
  border: sandybrown solid 3px;
}
.leftnavigation {
  background-color: darkgrey;
}
