<!--
<md-card>
  <md-card-title>
    Angular Material Menu Demo
  </md-card-title>
  <md-card-content>
    <button md-raised-button color="primary" [mdMenuTriggerFor]="menu">
      Open Menu
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon></md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item disabled>
        <md-icon></md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon></md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </md-card-content>
</md-card>
 -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Category</h1>
      <h4>Smartphones: {{amountphones}}</h4>
      <h4>Laptops: {{amountlaptops}}</h4>
      <h4>TV: {{amounttv}}</h4>
      <h4>Soundbars: {{amountsoundbars}}</h4>
      <h6>Summary: </h6>

    </div>
  </div>
</div>
