

<div class="container">
      <div class="filters text-white">
      <h3 class="bgcondition">Categories:</h3>
      <div>Smartphones: <span class="r">{{amountphones}}</span></div>
      <span class="redone" *ngIf="lastPhoneBoolean">Last Smartphone Use promocode: 'LastPhone' to get 10% discount</span>
      <div>Laptops: <span class="r">{{amountlaptops}}</span></div>
      <span *ngIf="lastLapBoolean" class="redone">Last Laptop Use promocode: 'LastLap' to get 10% discount</span>
      <div>TV: <span class="r">{{amounttv}}</span> </div>
      <div>Soundbars: <span class="r">{{amountsoundbars}}</span></div>
      <div class="sum">Summary: <span class="r">{{summaryproducts}}</span></div>
      </div>


      <div class="text-white filters">
        <h3 class="bgcondition">Filters:</h3>
        <h5 class="insidefilters">Condition</h5>
        <div class="form-check"><input [(ngModel)]="CheckboxNew" type="checkbox" class="form-check-input" id="checkboxWarnin" value="option1">New Products: {{newproducts}}</div>
        <div class="form-check"><input [(ngModel)]="CheckboxUsed" type="checkbox" class="form-check-input" id="checkboxWarni" value="option1">Used Products: {{usedProduct}}</div>
        <div class="form-check"><input [(ngModel)]="CheckboxDamaged" type="checkbox" class="form-check-input" id="checkboxWarn" value="option1">Damaged Products: {{damagedproduct}}</div>
       <!--   Just for Tests
       <div>Max Price: {{maxprice}}</div>
        <div>Min Price: {{minprice}}</div> -->
        <h5 class="insidefilters">Price: </h5>
        <div class="input-group input-group-sm small d-inline-block">
          <span class="input-group-addon">From:</span>
          <input [(ngModel)]="MinPrice" type="text" class="form-control" aria-label="Text input" placeholder= {{minprice}}>
        </div>
        <div class="input-group input-group-sm small d-inline-block">
          <span class="input-group-addon">To:</span>
          <input [(ngModel)]="MaxPrice" type="text" class="form-control mrbottom" aria-label="Text input" placeholder= {{maxprice}}>
          <button class="btn btn-primary float-left" type="submit" (click)="check_Boxes()">Submit</button>
        </div>

        <!-- not yet but usefull
        <app-foot class="mr-5"></app-foot> -->

      </div>


</div>
