@import "../../../assets/styles/variable";

.redone {
  color: red;
  font-size: small;
}
.btn {
  margin: 10px 0 0 0;
}

.small {
  width: 60px;
  margin: 4px;
}
.form-control {
  width: 60px;
}
.sum {
  border-top: white solid 2px;
}
.filters {
  border: white solid 3px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.usecondition {
  color: orange;
  margin: 3px 0;
}
.form-check-input {
  margin: 0px 5px 0 0;
}
.container {
  padding: 25px 0  0 0;
}
.bgcondition {
  background-color: @navbar;
  margin: -5px -5px 0 -5px;
  font-size: 22px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  border-bottom: solid white 3px;
}
.insidefilters {
  border: white solid;
  border-width: 1px 0 1px 0;
  margin: 0 -5px 10px -5px ;
}
.mysubmit {
  margin-top: 40px;
}
.mrbottom {
  margin-bottom: 20px;
}
.marginleft {
  margin-left: 20px;
}
.fa {
  font-size: medium;
  color: white;
  position: relative;
  left: 20px;
  &:hover {
    cursor: pointer;
  }
  .bg-inverse {
    position: relative;
  }
  .r {
  }

}

