

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-white">
      <h3>Category:</h3>
      <div>Smartphones: <span class="r">{{amountphones}}</span></div>
      <span class="redone" *ngIf="lastPhoneBoolean">Last Smartphone Use promocode: 'LastPhone' to get 10% discount</span>
      <div>Laptops: <span class="r">{{amountlaptops}}</span></div>
      <span *ngIf="lastLapBoolean" class="redone">Last Laptop Use promocode: 'LastLap' to get 10% discount</span>
      <div>TV: <span class="r">{{amounttv}}</span> </div>
      <div>Soundbars: <span class="r">{{amountsoundbars}}</span></div>
      <div class="sum">Summary: <span class="r">{{summaryproducts}}</span></div>

    </div>
    <div class="col-sm-12">
      <div class="text-white">
        <h3>Filters:</h3>
        <h5>* Condition</h5>
        <div class="form-check"><input type="checkbox" class="form-check-input" id="checkboxWarnin" value="option1">New Products: <span class="r">{{newproducts}}</span></div>
        <div class="form-check"><input type="checkbox" class="form-check-input" id="checkboxWarni" value="option1">Used Products: <span class="r">{{usedProduct}}</span></div>
        <div class="form-check"><input type="checkbox" class="form-check-input" id="checkboxWarn" value="option1">Damaged Products: <span class="r">{{damagedproduct}}</span></div>
        <div>Max Price: {{maxprice}}</div>
        <div>Min Price: {{minprice}}</div>
<h5>Price: </h5>
        <div class="input-group input-group-sm small d-inline-block">
          <span class="input-group-addon">From:</span>
          <input type="text" class="form-control" aria-label="Text input">
        </div>
        <div class="input-group input-group-sm small d-inline-block">
          <span class="input-group-addon">To:</span>
          <input type="text" class="form-control" aria-label="Text input">
          <button class="btn btn-primary float-right" type="submit">Submit</button>
        </div>


        <app-foot></app-foot>
      </div>

    </div>
  </div>
</div>
